<div th:fragment="sidebar-left">
    <div id="whole-left">
        <div class="writePanel modal-trigger" id="writing">
            <div class="leftIcon">
                <i class="fa-regular fa-square-plus"></i>
            </div>
            <div class="leftWrite">
                <span>글쓰기</span>
            </div>
        </div>
        <div class="writePanel" id="friendPage">
            <div class="leftIcon">
            <i class="fa-solid fa-user-group"></i>
            </div>
            <div class="leftWrite">
                <span>친구요청</span>
            </div>
        </div>
        <div class="writePanel">
            <div class="leftIcon">
                <i class="fa-regular fa-message"></i>
            </div>
            <div class="leftWrite">
                <span>메시지</span>
            </div>
        </div>
        <div class="writePanel" id="myPage">
            <div class="leftIcon">
                <i class="fa-regular fa-clipboard"></i>
            </div>
            <div class="leftWrite">
                <span>내 게시물</span>
            </div>
        </div>
        <div class="writePanel" id="likePage">
            <div class="leftIcon">
                <i class="fa-regular fa-thumbs-up"></i>
            </div>
            <div class="leftWrite">
                <span>좋아요</span>
            </div>
        </div>
        <div class="writePanel" id="logout">
            <div class="leftIcon">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
            <div class="leftWrite">
                <span>로그아웃</span>
            </div>
        </div>
    </div>
</div>

