<div th:fragment="sidebar-right">
    <div>
        <div id="friendSidebar">
            <div class="friendHeader">
                <span class="customLargeBoldFont">친구</span>
            </div>
            <template id="friendTemplate">
                <div class="friendDiv" data-friend-id="">
                    <div class="profile-div">
                        <img src="/image/basicProfile.jpg" class="friProfile profile-img">
                    </div>
                    <span class="customBoldFont friNickName" data-user-id=""></span>
                </div>
            </template>
            <div id="friendMain">
            </div>
        </div>
    </div>

</div>